 * {
     margin: 0;
     font-family: 'Indie Flower', cursive;
 }

 @font-face {
     font-family: 'Acme-Regular';
     src: url('Fonts/font-used/Acme-Regular.ttf');
 }

 /*----------Begining of styles for Home page*/

 .header_container {
     background-color: rgba(161, 158, 165, 0);
     display: flex;
     justify-content: space-between;
     height: 4.9rem;
     position: fixed;
     top: 0px;
     z-index: 2;
     right: 0px;
     left: 0px;
 }

 .header_container-background{
    background-color: rgba(161, 158, 165, 0.9);
    background-image: url('images/poemBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
 @media(max-width:1024px) {
     .header_container {
         display: none;
     }
 }
.mobile-header{
    display: none;
}
 .navigator-container {
     display: none;
 }
 .display{
    display: inline;
}

 @media(max-width:1024px) {
     .mobile-header {
         height: 80px;
         display: flex;
         justify-content: space-between;
         background-color: rgba(179, 82, 179,0.8);
         background-image: url('images/poemBg.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         position: fixed;
         left: 0px;
         top: 0px;
         z-index: 10;
         right: 0px;
     }
 }
 .menu{
     background-color: rgb(24, 21, 221);
     border-radius: 10px;
 }

 .new-height {
     height: 320px;
     transition: all 2.5s;
     display: grid;
     grid-template-columns:50vw 50vw;
     grid-template-rows: 80px;
 }
 .margin-right_menu {
     margin-right: 10px;
 }

 .remove-height {
     height: 80px;
     transition: height 2.5s;
 }

 @media(max-width:1024px) {
     .menu {
         justify-self: center;
         align-self: center;
         margin-right: 10px;
     }
 }

 @media(max-width:400px) {
     .menu {
         justify-self: center;
         align-self: center;
         margin-right: 20px;
     }
 }

 .web_title {
     color: rgb(16, 0, 241);
     text-align: center;
     margin-left: 0.625rem;
     font-family: Acme-Regular, lobster;
 }

 .list_navigator,
 .navigator {
     display: flex;
     list-style: none;
     align-self: center;
     justify-content: center;
 }

 .mobile-list_navigator {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .list_link {

     text-decoration: none;
     color: whitesmoke;
     padding: 0.625rem;
     font-size: 2.5rem;
 }

 .mobile-list_link {
     text-decoration: none;
     color: whitesmoke;
     text-align: center;
     padding: 0.625rem;
     font-size: 1.5rem;
 }

 .list_link:hover,
 .list_link:active {
     color: rgb(82, 82, 199);
     background-color: whitesmoke;
     border-radius: 0.5rem;
 }

 .list_item {
     border-radius: 0.5rem;
     margin-right: 0.625rem;
     background-color: rgba(82, 82, 199, 0.5);
 }

 .mobile-list_item {
     margin-top: 0.625rem;
 }

 .back-image {
     background-color: rgb(207, 187, 207);
     background-image: url('images/bg.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 30.5rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .background-image {
   /* background-color: rgba(240, 163, 163, 0.3);*/
    width: 100vw;
    height: 100vh;
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    background-image: url('images/poemBg.jpg');
    z-index: -1;
}

 @media(max-width:1024px) {
     .back-image {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
 }

 @media(max-width:1024px) {
     .back-image {
         justify-self: center;
         align-self: center;
         margin-top: 4.5rem;
     }
 }

 @media(max-width:820px) {
     .back-image {
         background-position: top left;
         background-size: cover;
     }
 }

 @media(max-width:500px) {
     .back-image {
         background-image: url('images/bg2.jpg');
         background-size: cover;
         background-position: top left;
     }
 }

 @media(max-width:500px) {
     .back-image {
         background-image: url('images/bg3.jpg');
         background-size: cover;
         background-position: top left;
     }
 }


 .about-contents {
     align-self: flex-start;
     border: solid 2px rgb(146, 148, 142);
     border-radius: 8px;
     padding: 5px;
     margin-bottom: 50px;
     margin-left: 10px;
 }

 @media(max-width:500px) {
     .about-contents {
         align-self: center;
     }
 }

 .top-content {
     margin-top: 10px;
     margin-bottom: 20px;
 }

 .content {
     font-size: 2.5rem;
     color: white;
 }

 .see-work {
     color: rgba(82, 82, 199,0.2);

     font-size: 2.5rem;
 }

 .slogan {
     color: honeydew;
     font-size: 4.4rem;
     border-radius: 8px;
     padding: 5px;
     margin-right: 10px;
     margin-bottom: 50px;

 }

 .slogan-text {
     font-family: 'Amarante', cursive;
 }

 @media(max-width:568px) {
     .slogan-text {
         font-size: 2.5rem;
     }
 }

 .read {
     background-color: rgba(224, 186, 137,0.4);
     border-radius: 10px;
 }

 .footer-continer {
     display: flex;
 }

 @media(max-width:790px) {
     .footer-continer {
         display: flex;
         flex-direction: column;
     }

     .social-media {
         border-right: none;
     }

     .line {
         display: inline;
     }
 }

 .footer-list {
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     padding: 0px;
 }

 .footer-link {
     text-decoration: none;
 }

 .contact-list {
     list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     padding: 0px;
 }

 .social-media {
     width: 50%;
     border-right: 2px solid black;
 }

 @media(max-width:790px) {
     .social-media {
         width: 100%;
         border-right: none;
     }
 }

 .contacts {
     width: 50%;
 }

 @media(max-width:790px) {
     .contacts {
         width: 100%;
     }
 }

 @media(max-width:790px) {
     .contacts {
         width: 100%;
     }
 }

 .footer-header {
     text-align: center;
     margin-top: 20px;
 }

 .phone {
     margin-bottom: 30px;
 }

 .copy-right {
     text-align: center;
 }

 #whatsapp {
     margin-right: 100px;
 }

 @media(max-width:800px) {
     #whatsapp {
         margin-left: 30px;
     }
 }

 @media(max-width:790px) {
     #whatsapp {
         margin-left: 10px;
     }
 }

 /* footer css*/

 .footer-bg {
    margin-top: 10px;
   background-color: rgba(194, 193, 214, 0.5);
   border-radius: 8px;
   border: 5px solid rgb(223, 208, 197);
   border-top: none;
}
@media(max-width:800px) {
    .footer-bg {
        height: 420px;
    }
}

 @media(max-width:366px) {
     .footer-bg {
         height: 410px;
     }
 }

 .copy-right-container {
     height: 50px;
 }

 /*----------End of styles for Home page*/